.prev_free_live_course_container {
    padding: 8rem 0;
}

@media (max-width: 991px) {
    .prev_free_live_course_container {
        padding: 5rem 0;
    }
}

.prev-lesson-btn,
.next-lesson-btn {
    border-radius: 15px;
    background-color: #002147;
    color: white;
    font-size: 13px;
    width: 100px;
    height: 40px;
}

.prev-lesson-btn {
    background-color: #808080;
}

.next-lesson-btn:hover {
    background-color: #009DDB;
}