.course-title {
    background-color: #b94a8f;
    font-size: 32px;
    font-weight: 600;
    line-height: 46px;
}

.course-alt-title {
    margin-top: 4.7rem;
}

.alt-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: #343b6d;
}

.responsive-embed-youtube {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    margin-top: 19px;
}

.responsive-embed-youtube iframe {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
}

.btn-demo {
    background-color: transparent;
    /* background-color: #b94a8f; */
    /* color: #f8f9fa; */
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 5px;
    padding: 10px;
    margin: 1px;
    border: 1px solid #ffc107;
    background-color: #ffc107;
    width: 97%;
}

.btn-demo:hover {
    background-color: #e6ae07;
    /* color: #f8f9fa; */
}

.btn-buy {
    background-color: rgb(72, 199, 116);
    color: #f8f9fa;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 5px;
    padding: 10px;
    margin: 1px;
    border: none;
    width: 97%;
}

.btn-buy:hover {
    background-color: rgb(58, 166, 96);
    color: #f8f9fa;
}

.feature-list {
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    border-radius: 5px;
    padding: 10px;
    margin: 1px;
    border: none;
    width: 94%;
    list-style-type: none;
    color: #54595f;
}

.other-courses:hover {
    transform: translateY(-15px);
}


/* 
@media (max-width: 1399px) {
    .embedded-video {
        width: 100%;
        height: 36.2vh;
    }
}

@media (max-width: 1199px) {
    .embedded-video {
        width: 100%;
        height: 36.2vh;
    }
}

@media (max-width: 991px) {
    .embedded-video {
        width: 100%;
        height: 36.2vh;
    }
}

@media (max-width: 767px) {
    .embedded-video {
        width: 100%;
        height: 36.2vh;
    }
} */