.course-review-container {
    height: 600px;
}

.awssld__content {
    background-color: #f8f9fa !important;
}

.review_slider {
    background-color: #f8f9fa !important;
    height: 450px !important;
}