.progress {
    background-color: transparent;
}

.progress-bar {
    background-color: #a94db8;
}

.course-select,
.your-info,
.payment {
    margin-top: -1.2rem;
    padding: 0 0.8rem;
}

.course-select {
    margin-left: -4rem;
}

.payment {
    margin-left: 2rem;
}