.progress-container {
    max-width: 600px;
}

.progress {
    background-color: transparent;
    height: 5px;
}

.progress-bar {
    background-color: #a94db8;
    width: 65%;
    margin: 0 auto;
    border-radius: 5px;
}

.progress-info-container {
    margin-top: -4.2rem;
}

.progress-info-image {
    margin: 0 auto;
    display: block;
    background-color: white;
    border-radius: 50%;
}

.progress-info-text {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
}

.progress-select {
    margin: 0 auto;
}