.text_skeleton {
    width: 600px;
    height: 15px;
    background-color: #653dae;
    border-radius: 4px;
    animation: text_skeleton_loading 1s linear infinite alternate;
}

@keyframes text_skeleton_loading {
    0% {
        background-color: rgba(255, 255, 255, 0.7);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.95);
    }
}

@media (max-width: 840px) {
    .text_skeleton {
        width: 400px;
    }
}

@media (max-width: 600px) {
    .text_skeleton {
        width: 200px;
    }
}

@media (max-width: 300px) {
    .text_skeleton {
        width: 150px;
    }
}