/* .checkout-title-container {
    padding-top: 6rem;
} */

.checkout-title {
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
}


/* .subscription-container {
    margin-top: 3rem;
} */

.subscription-btn {
    background-color: white;
    border: 1px solid #dde7f3;
    border-radius: 15px;
}

.subscription-btn:hover {
    background-color: #f0f7ff;
}

.course-fee-container {
    background-color: #f8f9fa;
    margin: 0 1px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 3px 10px 3px rgba(127, 127, 127, 0.2);
}


/* .checkout-modes {
    max-width: 600px;
    min-height: 72px;
} */

.checkout_course_review_container {
    margin-top: -1rem;
}

#monthly,
#full,
#bkash,
#payment_medium {
    border: 1px solid #dde7f3;
    border-radius: 10px;
    justify-content: space-between;
    width: 100%;
    max-height: 75px;
}

.btn-buy {
    /* background-color: rgb(72, 199, 116); */
    background-image: linear-gradient(to right, #13338b, #b94a8f);
    color: #f8f9fa;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 5px;
    padding: 10px;
    margin: 1px;
    border: none;
    width: 97%;
}

.btn-buy:hover {
    background-color: rgb(58, 166, 96);
    color: #f8f9fa;
}

@media screen and (max-width: 991px) {
    .subscription-container {
        margin-top: 0rem;
        height: 70vh;
    }
    .checkout_course_review_container {
        margin-top: 2rem;
    }
}

.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    box-shadow: 9999px 0 0 -5px #9880ff;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
}

.dot-pulse::before,
.dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #9880ff;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #9880ff;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
}

@keyframes dotPulseBefore {
    0% {
        box-shadow: 9984px 0 0 -5px #9880ff;
    }
    30% {
        box-shadow: 9984px 0 0 2px #9880ff;
    }
    60%,
    100% {
        box-shadow: 9984px 0 0 -5px #9880ff;
    }
}

@keyframes dotPulse {
    0% {
        box-shadow: 9999px 0 0 -5px #9880ff;
    }
    30% {
        box-shadow: 9999px 0 0 2px #9880ff;
    }
    60%,
    100% {
        box-shadow: 9999px 0 0 -5px #9880ff;
    }
}

@keyframes dotPulseAfter {
    0% {
        box-shadow: 10014px 0 0 -5px #9880ff;
    }
    30% {
        box-shadow: 10014px 0 0 2px #9880ff;
    }
    60%,
    100% {
        box-shadow: 10014px 0 0 -5px #9880ff;
    }
}


/* .checkout-container {
    filter: blur(3px)
} */

@media screen and (max-width: 991px) {
    .subscription-choose {
        height: 60vh
    }
}