.success-container {
    /* margin-top: 10rem; */
    background-color: #f3f5f4;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-success {
    background-image: linear-gradient(to right, #13338b, #b94a8f);
    color: #f8f9fa;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 5px;
    padding: 10px;
    margin: 1px;
    border: none;
    width: 200px;
    height: 60px;
}

.btn-success:hover {
    background-image: linear-gradient(to right, #0e2462, #8c396c);
    color: #f8f9fa;
}