.courses-container {
    background-color: rgb(243, 245, 249);
    min-height: 100vh;
}

.see-details,
.class-video,
.see-details-fade {
    background-color: transparent;
    color: #343b6d;
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    outline: none;
    border: 1px solid #5468ff;
    text-decoration: none;
}

.see-details-fade {
    background-color: #f2f2f2;
    border: 1px solid #000;
}

.see-details:hover {
    background-color: #5468ff;
    color: #f8f9fa;
}

.class-video {
    background-color: #b94a8f;
    color: #f8f9fa;
    border: 1px solid #b94a8f;
}

.class-video:hover {
    background-color: #9a2a6f;
}