.nav-item {
    font-size: 17px !important;
    line-height: 27px !important;
    font-weight: 400 !important;
    color: #434257 !important;
    border-radius: 5px !important;
    padding: 10px;
    margin: 1px;
}

.nav-item:hover {
    background-color: #666699 !important;
    color: #f8f9fa !important;
}

.nav-item:nth-last-child(-n+2):hover {
    background-color: #212529 !important;
}


/* .login-btn-lg {} */