.dashboard::-webkit-scrollbar {
    display: none !important;
}

.dashboard {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.dashboard-content-card {
    /* max-width: 300px; */
    height: auto;
    box-shadow: 0 5px 15px #c4c4c44d;
    margin: 10px;
}

.content-card {
    box-shadow: 0 5px 15px #c4c4c44d;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .dashboard-content-card {
        max-width: 300px;
        height: auto;
        margin: 10px;
    }
}

.featured-courses:hover {
    transform: translateY(-15px);
}

#zmmtg-root {
    display: none;
}

.meeting-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-container {
    background-color: #f3f5f9;
}