* {
    /* font-family: 'Hind Siliguri', sans-serif !important; */
    /* font-family: 'Baloo Da 2', cursive; */
    font-family: 'Anek Bangla', 'Baloo Da 2', cursive;
    transition: all .3s ease;
}

html,
body {
    overflow: visible !important;
    min-width: 100% !important;
}

::selection {
    color: white !important;
    background-color: #13338b !important;
}

#breathing {
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
}

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}


/* 
::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #605478;
}

 ::-webkit-scrollbar-thumb {
    background: #b94a8f;
    border-radius: 20px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #653dae;
} */


/* .price {
    font-family: 'Baloo Da 2', cursive;
} */


/* 
colors: 
#b94a8f
#653dae
#13338b
#3a3ca0
#df8254
#041962
#0c2070
#2c349c
#2c3493
*/


/* .form-control:focus {
    border-color: black;
    box-shadow: 0px 0px 0px black;
} */

.accordion-button:not(.collapsed) {
    color: black
}

.cursor-pointer {
    cursor: pointer;
}